<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IManagedEmployeesService" 
                 sendTimeout="00:05:00"
                 maxReceivedMessageSize="11010048"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="ManagedEmployeesService" 
                address="http://localhost:9002/ManagedEmployeesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagedEmployeesService"
                contract="EmployeeManager.IManagedEmployeesService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>